@tailwind base;
@tailwind components;
@tailwind utilities;

.red {
  border: 2px solid red;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}

/* Hide scrollbar for IE and Edge */
.scrollbar-hide {
  -ms-overflow-style: none; /* Internet Explorer and Edge */
  scrollbar-width: none; /* Firefox */
}
